.head {
  width: 550px;
  height: 25px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

  padding: 20px;
    
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head--section {
  width: 180px;
  display: flex;
}

.head--icon {
  width: 31px;
  height: 26px;
}

.head--title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.1em;

  margin-left: 7px;
}

.head--description {
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
}